body {
    min-height: 100vh;
}

main {
    font-family: Arial, sans-serif;
    background-color: #fff;
    height: 90vh;
    align-content: center;
}

.form-container {
    max-width: 500px;
    min-height: 250px;
    max-height: 330px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #162e80;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-buttons > div {
    border-radius: 20px;
    background-color: #cccccc;
}

button {
    background-color: #162e80;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;

}

button.active {
    opacity: 0;
}

form {
    display: none;
}

form > div {
    display: block;
}

form.active-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    color: #162e80;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

input {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #162e80;
    border-radius: 5px;
}