
main {
    display: grid;
    grid-template-areas: 
                        "header header header header header header"
                        "aside main main main main main"
                        "aside main main main main main"
                        "aside main main main main main";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
    margin: 40px 0;
    column-gap: 20px;
    position: relative;
}

.hero_container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    gap: 50px;

}

.title {
    grid-area: header;
    text-align: center;
}

.title h3 {
    font-size: 3.9rem;
    color: #3c3c3c;
    
}

.cards_container {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    justify-content: center;
    gap: 2.7rem;
}