aside {
    grid-area: aside;
    max-height: 462px;
    position: sticky;
    top: 30px;   
}

ul {
    flex: 1 1 auto;
    height: 95%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F8F9FA;
    border-radius: 5px;
    font-size: 1.3rem;

    border: 1px solid #CCCDCE;
    padding: 5px;
}

ul i  {
    color: #162e80;
    transform: translateY(-3px);
}

li {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
}

li > div {
    width: fit-content;
    margin-left: 1.4rem;

    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

li:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}