.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 300px;
    height: 200px;
}

.card a {
    font-size: 25px;
    color: #2610ec;
    text-decoration: none;
}

.card a:active {
    color: #796eff;
}

.card p:nth-child(2),
.card p:nth-child(3) {
    color: #000;
}

.card p:nth-child(2) {
    font-size: 18px;
}

.card p:nth-child(3) {
    font-size: 14px;
}
