.footer {
    display: flex;
    justify-content: space-between;
    background-color: #162E80;
    width: 100%;
    height: 100%;
    padding: 50px 10px 50px 10px;

}
/* Footer links */
.footer .Copyright {

    font-family: 'DM Sans', sans-serif;
    color: #c8dfff;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;

}

/*Rede Sociais*/

.footer .footer-icons {

    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.footer .footer-icons a {

    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #00175e;
    border-radius: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-bottom: 5px;
    transition: 0.3s;

}

.footer .footer-icons a:hover {
    background-color: #2371ea;
}

/*Right*/



/*Responsive*/
@media (min-width: 1280px) {

    .footer {
        padding: 100px 50px 50px 100px;
    }

    .footer .Copyright {
        font-size: 16px;
    }

    .footer form input,
    .footer form textarea {
        width: 100%;
        float: left;
    }

    .footer form button {
        padding: 10px 35px;
    }

}

@media (min-width: 768px) {

    .footer .left {
        width: 48%;
        border-bottom: 0;
    }

    .footer .right {
        width: 48%;
        padding-left: 4%;
        border-left: 1px #222424 solid;
    }

    .footer form {
        margin-top: 30px;
    }

    .footer form {
        display: block;
    }

    .footer form button {
        float: none;
    }

}