:root {
    --cor-do-fundo: #162e80;
    --cor-de-destaque: #f0ffff;

}

a{
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 7rem;
    background-color: var(--cor-do-fundo);
    padding: 0 60px;
}

.page-title{
    color: var(--cor-de-destaque);
    font-size: 3rem;

}

.info {
    display: flex;
    justify-content: center;
    color: var(--cor-de-destaque);
    font-size: 2rem;
}