header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

header > nav > a {
    color: azure;
    text-decoration: none;
    transition: all ease-out 0.2s;
    font-size: 1.5rem;
}

nav > a:hover {
    color: #2371ea;
}

i {
    font-size: 20px;
}